<template>
  <div>
    <lv-addtarefa></lv-addtarefa>
    <lv-tarefas></lv-tarefas>

    <hr>

    <lv-busca></lv-busca>
  </div>
</template>

<script>
  import {mapState} from 'vuex'
  import LvAddtarefa from './AddTarefa.vue'
  import LvTarefas from './Tarefas.vue'
  import LvBusca from './Busca.vue'

  export default{
    name: 'app',
    components: { LvAddtarefa, LvTarefas, LvBusca },
    computed: {
      ...mapState(['nome']),
    },
  }
</script>

<style>
  body {
    background-color: silver;
  }
</style>
