<template>
  <button @click="apagar(tarefa)">Deletar</button>
</template>


<script>
  import {mapActions} from 'vuex'

  export default {
    name: 'vl-deltarefa',
    props: {
      tarefa: {
        required: false,
        type: String,
      }
    },
    methods: {
      ...mapActions({
        apagar: 'removerTarefa',
      }),
    },
    data() {
      return {

      }
    },
  }
</script>

<style>

</style>
