<template>
  <div id="app">
    <p>Total: {{ total }}</p>
    <button @click="subtrair">-</button>
    <button @click="somar">+</button>
  </div>
</template>

<script>
  export default {
    name: 'app',
    components: {},
    props: {},
    data() { return { total: 0 } },
    mounted() {},
    methods: {
      subtrair() { this.total-- },
      somar() { this.total++ },
    },
    computed: {},
    filters: {},
  }
</script>

<style>

</style>
