<template>
  <div id="app">
    <router-link to="/">Inicial</router-link>
    <router-link to="/usuarios">Usuarios</router-link>
    <router-view></router-view>

  </div>
</template>

<script>
  export default{
    name: 'app',
    components: {},
    data() {
      return {

      }
    },
  }
</script>

<style>
  body {
    background-color: silver
  }
</style>
