<template>
  <div>
    <h1>Inicial</h1>
  </div>
</template>

<script>
  export default {
    name: 'lv-inicial',
    data() {
      return {

      }
    },
  }
</script>

<style>
  body {
    background-color: silver
  }
</style>

