<template>
  <div>
    <h1>Usuarios</h1>
    <router-link to="/usuarios/novo">Novo usuario</router-link>
    <router-view></router-view>
  </div>
</template>

<script>
  export default {
    name: 'lv-usuarios',
    data() {
      return {

      }
    },
  }
</script>

<style>
  body {
    background-color: silver
  }
</style>
