<template>
  <div v-ola>
    {{ $ola() }} <!-- Olá mundo do Vue com método de instância -->
  </div>
</template>

<script>
  export default {
    name: 'app',
    components: {},
    props: {},
    data() { return {} },
    mounted() {},
    methods: {},
    computed: {},
    filters: {},
  }
</script>

<style>

</style>
