<template>
  <div>
    <h1> {{ titulo }} </h1>
  </div>
</template>

<script>
  export default {
    name: 'app-b',
    components: {},
    props: {},
    data() { return { titulo: 'App B' } },
    mounted() {},
    methods: {},
    computed: {},
    filters: {},
  }
</script>

<style>

</style>
