<template>
  <ul>
    <li v-for="(item, indice) in lista">
      {{ item.id }} - <b>{{ indice }}</b> - {{ item.nome }}
    </li>
  </ul>
</template>

<script>
  export default {
    name: 'app',
    components: {},
    props: {},
    data() {
      return {
        lista: [
          {id: 1, nome: 'jose'},
          {id: 3, nome: 'maria'},
          {id: 4, nome: 'joao'},
          {id: 6, nome: 'humberto'},
          {id: 9, nome: 'cristiano'},
        ]
      }
    },
    mounted() {},
    updated() {},
    methods: {},
    computed: {},
    filters: {},
  }
</script>

<style>

</style>
