<style> body { background-color: silver  } </style>

<template>
  <div>
    <LVBusca></LVBusca>
    <hr>
    <LVPerfil></LVPerfil>
  </div>
</template>

<script>
  import LVBusca from './LVBusca.vue'
  import LVPerfil from './LVPerfil.vue'

  export default{
    name: 'app',
    components: {LVBusca, LVPerfil}
  }
</script>

<style>

</style>

