<style>
  body { background-color: silver  }
</style>

<template>
    <div>
      <lv-usuario nome="Filomena" @novaMsg="escrever"></lv-usuario>
      <lv-usuario nome="Amarildo" @novaMsg="escrever"></lv-usuario>
      <br>
      <div v-html="chat"></div>
    </div>
</template>

<script>
  import LvUsuario from './LvUsuario.vue'

  export default {
    name: 'app',
    components: { LvUsuario },
    data() {
      return {
        chat: ''
      }
    },
    methods: {
      escrever(mensagem) {
        this.chat = `${mensagem} <hr> ${this.chat}`
      }
    },
  }
</script>
