<template>
  <div>
    <div class="cartao">
      <h2>{{ titulo }}</h2>
      <slot></slot>
      <hr>
      <slot name="rodape"></slot>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'LvCard',
    props: ['titulo', 'conteudo'],
    data() {
      return {

      }
    },
  }
</script>

<style>

</style>
