<template>
  <div>
    <lv-lista titulo="Carros" :lista="carros"></lv-lista>
    <lv-lista titulo="Aviões" :lista="avioes"></lv-lista>
  </div>
</template>

<script>
  import Carros from './servicos/carros'
  import Avioes from './servicos/avioes'
  import LvLista from './Lista.vue'

  export default {
    name: 'App',
    components: { LvLista },
    data() {
      return {
        carros: {},
        avioes: {},
      }
    },
    mounted() {
      Carros.lista().then(dado => this.carros = dado.data)
      Avioes.lista().then(dado => this.avioes = dado.data)
    },
    methods: {},
    computed: {},
    filters: {},
  }
</script>

