<style>
  body {
    background-color: silver
  }
</style>

<template>
  <div id="app">
    <p>{{ total }}</p>

    <!-- @click é igual v-on:click -->
    <button @click="calcula('-')"> - </button>
    <button @click="calcula('+')"> + </button>

    <hr>

    <p>Nome Iniciando: {{ nome }}</p>
    <p>Nome Filtrado:  {{ nome | formataNome }}</p>

    <hr>

    <p>Nome Computado: {{ nomeFormatado }}</p>
    <label>Input a computar</label>
    <input v-model="nomeFormatado" type="text">

    <hr>

    <input v-model="busca" type="text">
    <p>{{ resultado }}</p>
  </div>
</template>

<script>
  export default {
    name: 'lv-contador',
    data() {
      return {
        total: 10,
        nome: 'fulano sicrano beltrano',
        resultado: '',
        busca: '',
      }
    },

    watch: {
      busca(novoValor, valorAntigo) {
        this.resultado = 'Aguardando o término da digitação...';
        this.recolheResposta();
      }
    },

    methods: {
      calcula(sinal) {
        this.total = (sinal == '-') ? this.total - 1 : this.total + 1;
      },

      recolheResposta() {
        let valor = this.busca;

        setTimeout(() => {
          if (valor === this.busca)
            this.resultado = 'Terminou de digitar...';
        }, 500);
      }
    },

    filters: {
      formataNome(valor) {
        console.warn('Executando filter');

        valor = valor.toLowerCase();
        let corta = valor.split(' ');
        let resultado = '';

        for (let nome of corta)
          resultado += nome.charAt(0).toUpperCase() + nome.slice(1) + ' ';

        return resultado;
      }
    },

    computed: {
      nomeFormatado: {
        get: function() {
          console.warn('GET: Executando computed');

          return this.nome.toUpperCase();
        },

        set: function(novoValor) {
          console.warn('SET: Executando computed');

          this.nome = novoValor.substring(0, 3);
        }
      }
    }
  }
</script>
