<template>
  <div>
    <h1>Hello, World!</h1>
    <button @click="toggleMessage">Toogle Message</button>
    <p>{{ message }}</p>
  </div>
</template>

<script>
  export default {
    name: 'app',
    components: {},
    props: {},
    data() {
      return {
        message: ''
      }
    },
    mounted() {},
    methods: {
      toggleMessage() {
        switch(this.message) {
          case '':
          case 'Toggle message!':
            this.message = 'Message!';
            break;

          case 'Message!':
            this.message = 'Toggle message!';
            break;
        }
      }
    },
    computed: {},
    filters: {},
  }
</script>

<style>

</style>
