<template>
  <ul>
    <li :key="index" v-for="(item, index) in items">
      {{ item }}
    </li>
  </ul>
</template>

<script>
  export default {
    name: 'list',
    props: {
      items: {
        require: true,
        type: Array,
      }
    },
  }
</script>

<style>

</style>
