<style>
  body {
    background-color: silver
  }
</style>


<template>
  <div id="app">

    <!--
      Ou usando apenas dois pontos:
        DE:    v-bind:disabled="!tarefas.length"
        PARA:  :disabled="!tarefas.length"
    -->
    <input v-bind:disabled="!tarefas.length" v-model="subtitulo" type="text" placeholder="Descrição">


    <!--
      Ou usando apenas o @:
        DE:    v-on:click="tarefas = []"
        PARA:  @:click="tarefas = []"
    -->
    <button v-on:click="tarefas = []">Limpar</button>

    <div v-if="tarefas.length">
      Existem {{ tarefas.length }} tarefas

      <ul>
        <li v-for="tarefa in tarefas">{{ tarefa }}</li>
      </ul>
    </div>
  </div>
</template>


<script>
  export default {
    name: 'lv-tarefas',
    data() {
      return {
        titulo: 'Listagem de tarefas',
        subtitulo: 'Defina uma descrição',
        tarefas: [1, 2, 3, 4, 5],
      }
    },

    mounted() {
      setTimeout(() => {
        this.tarefas = [6, 7, 8, 9, 10];
      }, 3000);
    }
  }
</script>
